<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="FilePath" value="ClientFilePath" />
		<add key="SectionCount" value="15" />
		<add key="1" value="TitleSection" />
		<add key="2" value="Declaration" />
		<add key="3" value="Abstract" />
		<add key="4" value="Dedication" />
		<add key="5" value="Certification" />
		<add key="6" value="Acknowledgements" />
		<add key="7" value="TableofContents" />
		<add key="8" value="Contents" />
		<add key="9" value="ListofFigures" />
		<add key="10" value="ListofSymbols" />
		<add key="11" value="Definitionofterms" />
		<add key="12" value="Chapters" />
		<add key="13" value="References" />
		<add key="14" value="Bibliography" />
		<add key="15" value="Appendix" />
	</appSettings>
</configuration>

